.main-home{
    max-width: 1000px;
    align-items: center;
    text-align: center;
    padding: 18% 8%;
  }
  
  .head1-home{
    color:white;
    font-size: 0.85rem;
    line-height: 1.1;
    font-weight: 400;
  }
  .head2-home{
    color:white;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.1;
    margin: 1rem 0 5rem;
  }
  .head3-home{
    color: #aea9b1;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.8;
  }
  
  .waitlist{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    margin: 5px 20px;
    font-size: 1rem;
    color: white;
    background-color: #2545d3;
  }

  .try{
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    display: inline;
    color: #fff;
    cursor: pointer;
  }
  .try:hover{
    font-size: 1.1rem;
    padding: 0 4px;
  }

  @media(max-width:480px) {
    .main-home{
      padding: 35% 8% 0;
    }
    .head1-home{
      font-size: 0.7rem;
    }
    .head2-home{
      font-size: 4.5rem;
      margin: 1rem 0 2.5rem;
    }
    .head3-home{
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
    .waitlist{
      padding: 10px;
      margin: 25px 0;
      font-size: 0.8rem;
    }
    .try{
      font-size: 0.8rem;
    }
}

  @media(max-width:820px) and (min-width:480px) {
    .main-home{
      padding: 25% 10% 0;
    }
    .head1-home{
      font-size: 0.8rem;
    }
    .head2-home{
      font-size: 5.3rem;
      margin: 1rem 0 2.5rem;
    }
    .head3-home{
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .waitlist{
      padding: 10px;
      margin: 25px 0;
      font-size: 0.9rem;
    }
    .try{
      font-size: 0.9rem;
    }
} 